@model List<ResultCarPricingListWithModelDto>

<div class="col-xl-6">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">Araç Fiyat Listesi</h4>

            <div class="table-responsive">
                <table class="table table-centered table-hover table-xl mb-0">
                    <thead>
                        <tr>
                            <th class="border-top-0">Marka</th>
                            <th class="border-top-0">Model</th>
                            <th class="border-top-0">Saatlik Fiyat</th>
                            <th class="border-top-0">Günlük Fiyat</th>
                            <th class="border-top-0">Haftalık Fiyat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td class="text-truncate">@item.BrandName</td>
                                <td class="text-truncate">@item.Model</td>
                                <td class="text-truncate">@item.HourlyAmount</td>
                                <td class="text-truncate">@item.DailyAmount</td>
                                <td class="text-truncate">@item.WeeklyAmount</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>